*
!README.md
!.gitignore
!src/
!src/*
!src/*.c
!src/*.h
!src/*/*.c
!src/*/*.h

!lib/
!lib/libft/
!lib/libft/*
lib/libft/*.o

!test/
!test/scenes
!test/*/*
!test/*/*/*.c
!test/*/*/*.h

!Makefile
!LICENSE
!note/
!note/*